@mixin border-radius-default($radiusSize: 0.3em) {
    -webkit-border-radius: $radiusSize;
    -moz-border-radius: $radiusSize;
    -o-border-radius: $radiusSize;
    border-radius: $radiusSize;
}

%image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

@import "compass/css3";