@mixin border-radius-default($radiusSize: 0.3em) {
    -webkit-border-radius: $radiusSize;
    -moz-border-radius: $radiusSize;
    -o-border-radius: $radiusSize;
    border-radius: $radiusSize;
}

%image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


%default-button-shadow {
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}