/** Header **/
header {
    border-top: 5px solid $primary-color;
    background: rgba($secondary-color, 0.8);
    height: 90px;
    width: 100%;
    position: absolute;

    .container {
        position: relative;
    }
}

.menu-principal {
    position: absolute;
    right: 0;
    top: -0.5em;
    font-size: 1.2em;
    font-weight: lighter;

    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        width: 5em;
    }

    a {
        color: $corbranca;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
